html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: rgb(63, 184, 210);
}

#map {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: auto;
}

.navbar {
  width: 100%;
  height: 10%;
  top: 0;
  position: fixed;
  background-color: rgba(51, 51, 51, 1);
}

.title {
  font-family: 'Special Elite', cursive;
  font-size: 2.5rem;
  width: 90%;
  margin-left: 30%;
  margin-top: -2.3rem;
}


/* Style the button */

#show-btn {
  display: inline-block;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 5px 11px;
  cursor: pointer;
}

#sidebar {
  bottom: 0;
  left: 0;
  width: 22%;
  height: 90%;
  position: fixed;
  color: rgb(213, 213, 213);
  background-color: rgb(68, 68, 68);
  z-index: 1;
}

.search {
  font-size: 30px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Amatica SC', bold, cursive;
}

input {
  width: 70%;
  height: 25px;
  font-size: 17px;
  margin-left: -8px;
}

.locations {
  position: relative;
  overflow: auto;
  height: 88%;
}

ul {
  list-style: none;
  padding-left: 2px;
}

li {
  font-size: 16px;
  color: rgb(242, 242, 242);
  padding: 8px 0px;
  font-family: 'Amatica SC', cursive;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.brew-name {
  font-size: 22px;
}

.brew-hood {
  font-size: 17px;
}

.icon {
  float: left;
  padding: 0;
}

.icon img {
  height: 60px;
  width: 60px;
  padding-right: 5px;
}

.icon img:hover {
  height: 62px;
  width: 62px;
}

@media (max-width: 1024px) and (min-width: 1600px) {
  #sidebar {
    width: 30%;
  }
}
/*end of @media width 1024px*/

@media (min-width: 768px) and (max-width: 850px) {
  #sidebar {
    width: 35%;
  }
}
/*Medium devices (tablets, 768px and up)*/

@media (max-width: 768px) {
  .title {
    width: 90%;
    margin-left: 23%;
    margin-top: -2.3rem;
  }
  #sidebar {
    width: 35%;
  }
  input {
    width: 90%;
  }
}
/*end of tablet size @media query*/

@media (max-width: 657px) {
  .title {
    font-size: 1.3rem;
    margin-left: 24%;
    margin-top: -1.8rem;
  }
  #sidebar {
    width: 50%;
  }
  input {
    width: 90%;
  }
  ul {
    list-style: none;
    padding-left: 2px;
  }
  li {
    padding: 8px 1px;
  }
  .icon img {
    display: none;
  }
}
/*Small devices (landscape phones, 576px and up)*/

@media (max-width: 576px) {
  .title {
    font-size: 1.3rem;
    margin-left: 24%;
    margin-top: -2rem;
  }
  /* Style the button */
  #show-btn {
    margin-top: .8rem;
  }
  #sidebar {
    width: 40%;
  }
  input {
    width: 90%;
    font-size: 8px;
  }
  ul {
    list-style: none;
    padding-left: 2px;
  }
  li {
    padding: 8px 1px;
  }
  .icon img {
    display: none;
  }
}
/*end of phone @media*/
