html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(63, 184, 210);

}


/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px) {*/


  #map {
      width: 80%;
      height: 90%;
      position: absolute;
      bottom: 0;
      right: 0;

  }


  .navbar {
    width: 100%;
    height: 10%;
    top: 0;
    position: absolute;
    background-color: rgba(51, 51, 51, 1);

  }

  .title {
    font-family: 'Special Elite', cursive;
    font-size: 2.5rem;
    width: 90%;
    margin-left: 33%;
    margin-top: -1.6rem;

  }

  /* Hide the toggle checkbox */
  #show-toggle {
    display: none;
  }

  /* Style the button */
#show-btn {
  display: inline-block;
  left: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 5px 11px;
  background-color: rgb(63, 184, 210);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

  #sidebar {
      /*transform: translateX(0);*/
      visibility: visible;
      bottom: 0;
      left: 0;
      width: 20%;
      height: 90%;
      position: fixed;
  		color: rgb(213, 213, 213);
      background-color: rgb(68, 68, 68);

  }

  /* Show hidden content when the checkbox is checked */
  #show-toggle:checked  ~ * #sidebar {
    /*transform: translateX(-250px);*/
    visibility: collapse;
  }


.search {
  font-size: 30px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Amatica SC', bold, cursive;

}

input {
  width: 13rem;
  height: 25px;
  font-size: 17px;
  margin-left: -8px;

}

.locations {
  position: relative;
  overflow: auto;
  height: 81%;

}

ul {
  list-style: none;
  padding-left: 2px;

}

li {
  font-size: 16px;
  color: rgb(242, 242, 242);
  padding: 8px 0px;
  font-family: 'Amatica SC', cursive;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.brew-name {
  font-size: 22px;
}

.brew-hood {
  font-size: 17px;
}

.icon {
  float: left;
  padding: 0;
}

.icon img {
  height: 60px;
  width: 60px;
  padding-right: 5px;

}

.icon img:hover {
  height: 62px;
  width: 62px;
}

/*}  /* end of @media width desktop */



 /*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

  #map {
      width: 100%;
      height: 90%;
      position: absolute;
      bottom: 0;
      right: 0;

  }

  .navbar {
    width: 100%;
    height: 10%;
    top: 0;
    position: absolute;
    background-color: rgba(51, 51, 51, 1);

  }

  .title {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    width: 90%;
    margin-left: 28%;
    /*margin-top: 10px;*/

  }

  /* Hide the toggle checkbox */
  #show-toggle {
    display: none;
  }

  /* Style the button */
#show-btn {

  left: 0;
  width: 20px;
  /*margin-top: 10px;
  margin-left: 10px;*/
  padding: 5px 11px;
  background-color: rgb(63, 184, 210);
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

  /* Show hidden content when the checkbox is checked */
  #show-toggle:checked  ~ * #sidebar {
    /*transform: translateX(-250px);*/
    visibility: collapse;
  }

 }
 /*end of phone @media*/

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }
