html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(63, 184, 210);

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {


  #map {
      width: 80%;
      height: 90%;
      position: absolute;
      right: 0;
      bottom: 0;

  }
   /*test*/

  .navbar {
    width: 80%;
    height: 10%;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(51, 51, 51, 1);

  }

  .sidebar {
      width: 20%;
      height: 100%;
      position: fixed;
  		background-color: rgb(68, 68, 68);
  		color: rgb(213, 213, 213);

  }

  .title {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    margin-left: 26%;
    margin-top: 20px;

  }

.content {

  margin-top: 30px;
}

.search {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: 'Amatica SC', bold, cursive;

}

input {
  margin-left: 20px;
  width: 190px;
  height: 25px;
  font-size: 17px;

}

.container {
  margin-top: 10px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.locations {

  position: relative;
  overflow: auto;
  height: 570px;

}

ul {
  list-style: none;
  padding-left: 2px;

}

li {
  font-size: 16px;
  color: rgb(242, 242, 242);
  padding: 8px 0px;
  font-family: 'Amatica SC', cursive;
  border-top: 1px solid black;
}

.brew-name {
  font-size: 22px;
}

.brew-hood {
  font-size: 17px;
}

.icon {
  float: left;
  padding: 0;
}

.icon img {
  height: 60px;
  width: 60px;
  padding-right: 5px;

}

}  /* end of @media width desktop */

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


  #map {
      width: 80%;
      height: 90%;
      position: absolute;
      right: 0;
      bottom: 0;

  }
   /*test*/

  .navbar {
    width: 80%;
    height: 10%;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(51, 51, 51, 1);

  }

  .sidebar {
      width: 20%;
      height: 100%;
      position: fixed;
  		background-color: rgb(68, 68, 68);
  		color: rgb(213, 213, 213);

  }

  .title {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    margin-left: 26%;
    margin-top: 20px;

  }

.content {

  margin-top: 30px;
}

.search {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: 'Amatica SC', bold, cursive;

}

input {
  margin-left: 20px;
  width: 190px;
  height: 25px;
  font-size: 17px;

}

.container {
  margin-top: 10px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.locations {

  position: relative;
  overflow: auto;
  height: 570px;

}

ul {
  list-style: none;
  padding-left: 2px;

}

li {
  font-size: 16px;
  color: rgb(242, 242, 242);
  padding: 8px 0px;
  font-family: 'Amatica SC', cursive;
  border-top: 1px solid black;
}

.brew-name {
  font-size: 22px;
}

.brew-hood {
  font-size: 17px;
}

.icon {
  float: left;
  padding: 0;
}

.icon img {
  height: 60px;
  width: 60px;
  padding-right: 5px;

}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


  #map {
      width: 80%;
      height: 90%;
      position: absolute;
      right: 0;
      bottom: 0;

  }
   /*test*/

  .navbar {
    width: 80%;
    height: 10%;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgba(51, 51, 51, 1);

  }

  .sidebar {
      width: 20%;
      height: 100%;
      position: fixed;
  		background-color: rgb(68, 68, 68);
  		color: rgb(213, 213, 213);

  }


  .title {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    margin-left: 26%;
    margin-top: 20px;

  }

.content {

  margin-top: 30px;
}

.search {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: 'Amatica SC', bold, cursive;

}

input {
  margin-left: 20px;
  width: 190px;
  height: 25px;
  font-size: 17px;

}

.container {
  margin-top: 10px;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.locations {

  position: relative;
  overflow: auto;
  height: 570px;

}

ul {
  list-style: none;
  padding-left: 2px;

}

li {
  font-size: 16px;
  color: rgb(242, 242, 242);
  padding: 8px 0px;
  font-family: 'Amatica SC', cursive;
  border-top: 1px solid black;
}

.brew-name {
  font-size: 22px;
}

.brew-hood {
  font-size: 17px;
}

.icon {
  float: left;
  padding: 0;
}

.icon img {
  height: 60px;
  width: 60px;
  padding-right: 5px;

}

}
